/* import reset */
@import url("reset.css");
/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  /* set variables */
  --offblack: #0A0A0B;
  --dullgreen: #2D7E1A;
  --bluetint: #BFD7EA;
  --softgray: #848B8E;
  --offwhite: #FEFFFE;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  color: var(--offblack);
  /* set to black as default and convert each button to white manually */
  background-image: linear-gradient(to top left, var(--dullgreen), var(--offwhite) 110%);
  background-repeat: no-repeat;
}
body { padding: 1rem; }
/* header & footer */
header, footer {
  font-family: 'Arimo', sans-serif;
  font-size: 2rem;
  color: var(--offblack);
  background-image: linear-gradient(to right, var(--bluetint), var(--offwhite));
  background-color: #848B8E;
  filter: drop-shadow(0.2rem 0.2rem 0.1rem var(--offblack));
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.2em;
}
/* header */
header {
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
header ul {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
header li {
  background-color: var(--dullgreen);
  border: 0.05em solid var(--softgray);
  border-radius: 1em;
  padding: 0.1em 0.5em;
  margin: 0em 0.2em;
}
header a {
  text-decoration: none;
  color: var(--offwhite);
}
header a:hover { color: greenyellow; }
header a:active { color: hotpink; }
.mainNav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
  color: var(--offblack);
  background-color: var(--offwhite);
  list-style-type: none;
  margin-top: 1em;
  padding-inline: 1em;
}
.mainNav li {
  margin-block: 0.5rem;
  margin-right: 0.5rem;
}
.mainNav li:hover {
  padding: 0.5rem;
  color:darkslateblue;
  box-shadow: 0em 0em 0.2em;
}
/* footer */
footer {
  font-size: 1rem;
  justify-content: center;
  padding: 0.2em;
}
/* -------------------------------- home.php -------------------------------- */
.home {
  font-size: 1.2rem;
  font-family: 'Comfortaa', cursive;
  color: var(--offblack);
  background-color: var(--offwhite);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1em;
  margin-bottom: 1em;
}
.home:first-child {
  align-items: center;
  padding: 1em 2em;
}
.home:first-child h2 { font-size: 2.5em; }
.home:nth-child(2) h2 { font-size: 1.8em; }
.home:nth-child(2) p { padding: 1em; }
#public, #staff {
  font-size: 1.2em;
  text-decoration: none;
  color: var(--offwhite);
  background-color: var(--dullgreen);
  border: 0.05em solid var(--softgray);
  transition: border-color;
  border-radius: 1rem;
  padding: 1em 2.5em;
  margin: 1em 0em;
}
#public:hover, #staff:hover {
  color: greenyellow;
  box-shadow: 0em 0em 0.2em;
}
#public:active, #staff:hover { color: hotpink; }
.home:last-child h2 {
  font-size: 2em;
  align-self: center;
  margin-bottom: 0.5em;
}
.home:last-child p {
  font-family: 'Comforta';
  padding: 0.5em;
}
.aboutUs {
  displaY: flex;
  margin: 0.5em, 0.5em;
}
.mftipInfo, .cltipInfo {
  align-self: auto;
  margin: 0.5em;
}
.mftipInfo:last-child p, .cltipInfo:last-child p { padding: 0.5em 1em; }
.aboutUs div {
  width: 50%;
  text-align: center;
}
/* ---------------------------------publicLogin.php-------------------------------- */
.loginForm {
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--offwhite);
  padding: 0.5em;
  margin: 0.5em;
}
.hidden { display: none; }
.loginForm:first-child h2 { font-size: 2.5em; }
.logincontainer {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.logincontainer div { padding: 0.5em; }
/* -------------------------------- logout.php -------------------------------- */
.logout h2 { margin: 0.5em auto; }
.logout form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logout button {
  width: 40%;
  margin-bottom: 1.5em;
}
/* ---------------------------------managedForestPlan.php--------------------------------- */
.queryForm {
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--offwhite);
  padding-inline: 1em;
  margin-bottom: 0.5em;
}
.queryForm h2 {
  background-color: #f7caac;
  width: fit-content;
  padding: 1em;
  margin-block: 1em;
}
.search div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-block: 0.5em;
}
.search div input { margin-bottom: 0.5em; }
.searchResults { width: 70%; }
.results {
  height: 75%;
  overflow: auto;
}

.resultsTable {
  display: table;
  width: 100%;
}
.resultsTable, .resultsTable th, .resultsTable td {
  border-collapse: collapse;
  border: 0.1em solid #848B8E;
  box-sizing: border-box;
  padding: 0.5em;
}

/* -------------------------------- CLTIP_home.php -------------------------------- */
.section-box {
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  margin: 10px 0;
}

.section-title {
  margin-top: 20px;
  font-size: 2em;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

/* -------------------------------- CLTIP_form.php -------------------------------- */
.page-title {
  margin-top: 20px;
  font-size: 3em;
  margin-bottom: 20px;
}

/* ---------------------------------staffLogin.php--------------------------------- */
.headingBig{
    padding: 1.5em;
    font-size: xx-large;
  }

.headingSmall{
    padding: 0.5em;
    font-size: x-large;
  }
  .export-btn {
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    padding: 12px 24px;
    margin: 10px 2px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.export-btn:hover {
    background-color: #007399;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}
